@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HumberAreaHospitalProject.Models.Doctor>
@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>List of Doctors</h2>
        <a href="/Doctor/New" class="btn btn-primary" style="float:right">Add Doctor</a>
        @using (Html.BeginForm("List", "Doctor", FormMethod.Get))
        {
            <strong>Search By:</strong>
            <div>
                @Html.RadioButton("searchBy", "First Name",true)<text>First Name</text>
                @Html.RadioButton("searchBy", "Last Name")<text>Last Name</text>
                @Html.RadioButton("searchBy", "Speciality")<text>Speciality</text>
                <div>
                    @Html.TextBox("search")<input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </div>
        }
        <div class="item-container">
            @{

                foreach (var doctor in Model)
                {
                    <div class="doctor-list">
                        <input type="hidden" value="@doctor.SpecialityID" />
                        <div><a href="/Doctor/View/@doctor.DoctorID">@doctor.Title @doctor.DoctorFname @doctor.DoctorLname</a></div>
                        <div>@doctor.Specialities.Name</div>
                        <div><a href="/Doctor/Update/@doctor.DoctorID">Update</a></div>
                    </div>
                }
            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("List", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
    </div>
</body>
</html>

