@model HumberAreaHospitalProject.Models.ViewModels.UpdateDoctor
@{
    ViewBag.Title = "Update";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Update @Model.doctor.Title @Model.doctor.DoctorFname @Model.doctor.DoctorLname</h2>
    <div class="navbar">
        <a class="btn btn-primary" href="/Doctor/List">Back to List</a>
    </div>
    <section>
        <form method="post" action="/Doctor/Update/@Model.doctor.DoctorID">
            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="Title">Title</label>
                <input type="text" class="form-control" id="Title" name="Title" value="@Model.doctor.Title" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="DoctorFname">First Name</label>
                <input type="text" class="form-control" id="DoctorFname" name="DoctorFname" value="@Model.doctor.DoctorFname" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="DoctorLname">Last Name</label>
                <input type="text" class="form-control" id="DoctorLname" name="DoctorLname" value="@Model.doctor.DoctorLname" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label" for="SpecialityID">Speciality</label>
                <select id="SpecialityID" class="form-control" name="SpecialityID">
                    <option value="@Model.doctor.SpecialityID">@Model.doctor.Specialities.Name</option>
                    @{
                        foreach (var speciality in Model.specialities)
                        {
                            <option value="@speciality.SpecialityID">@speciality.Name</option>
                        }
                    }

                </select>
            </div>
            <div class="inpfield">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </form>
    </section>
</body>
</html>

