@model HumberAreaHospitalProject.Models.ViewModels.ViewDoctor
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Details for @Model.doctor.Title @Model.doctor.DoctorFname @Model.doctor.DoctorLname</h2>
    <div class="navbar">
        <a class="btn btn-primary" href="/Doctor/List">Back to List</a>
        <a class="btn btn-primary" href="/Doctor/Update/@Model.doctor.DoctorID">Update</a>
        <a class="btn btn-danger" href="/Doctor/Delete/@Model.doctor.DoctorID">Delete</a>
    </div>
    <section>
        <div class="form-group">Title: @Model.doctor.Title</div>
        <div class="form-group">First Name: @Model.doctor.DoctorFname</div>
        <div class="form-group">Last Name: @Model.doctor.DoctorLname</div>
        <div class="form-group">Speciality: @Model.doctor.Specialities.Name</div>
    </section>
    <section>
        <h2>@Model.similardoctors.Count other Doctors to consider</h2>
        @{
            foreach (var otherdoctors in Model.similardoctors)
            {
                <div class="form-group">
                    <a href="/Doctor/View/@otherdoctors.DoctorID">@otherdoctors.Title @otherdoctors.DoctorFname @otherdoctors.DoctorLname</a>
                </div>
            }
        }
    </section>
</body>
</html>
