<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div style="background-color:#4775b2; color:white; margin:0px; margin-top: -50px;" class="jumbotron fluid">
        <div class="container">
            <h1 class="container">Humber Area Hospital</h1>

        </div>
    </div>
    <div class="navbar navbar-primary navbar-fixed" style="background-color:lightsteelblue; font-weight:500;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Patients", "Index", "Home")</li>
                    <li>@Html.ActionLink("Programs & Services", "About", "Home")</li>
                    <li>@Html.ActionLink("Visitors", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Directory", "List", "Staff")</li>
                    <li>@Html.ActionLink("News", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Donations", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Volunteering", "Apply_today", "Volunteer")</li>
                    <li>@Html.ActionLink("Careers", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Home Remedies", "List","HomeRemedies" )</li>
                    <li>@Html.ActionLink("Social Service Clubs", "List", "SocialServiceClubs")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="col-md-12">
            <div class="row">
                <h3>News Articles</h3>
                <p>
                    The most recent news about the hospital and the city's health plans and events. Click for the latest article.
                </p>
                <p><a class="btn btn-primary" href="/Article/NewsPage">Latest Article</a></p>
            </div>
            <div class="row">
                <h3>Appointments</h3>
                <p>Easily book an appointment by registering and signing in through our website. No phone calls needed! </p>
                <p><a class="btn btn-primary" href="">Book an Appointment</a></p>
            </div>

        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="text-align:center;">

                <p>&copy; @DateTime.Now.Year - Humber Area Hospital </p>
                <p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </p>
            </footer>
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
